.navBar{
  padding-top: 30px;
}
.App {
  text-align: center;
}

body {
  font-family: "monseratt", sans-serif;
}
.app.hot {
  background: linear-gradient(#fd4848, #46bcec, #46bcec);
}
.app.warm {
  background: linear-gradient(#fae56b, #46bcec, #46bcec);
}
.app.cold {
  background: linear-gradient(#abffdf, #46bcec, #46bcec);
}
.app.verycold {
  background: linear-gradient(#ffffff, #46bcec, #46bcec);
}
.search-box {
  width: 100%;
}
.search-box .search-bar {
  margin: 20px 40px;
  width: 50%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  margin-top: 25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s;
}

.search-box .search-bar:hover {
  background-color: rgba(233, 248, 253, 0.75);
}
.location-box .location {
  color: black;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.location-box .date {
  color: black;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.weather-box {
  text-align: center;
}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;

  padding: 15px 25px;

  color: black;
  font-size: 100px;
  font-weight: 900;

  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: black;
  font-size: 48px;
  font-weight: 700;
}
@media only screen and (min-width: 300px) and (max-width: 800px){
  .navBar{
    padding-top: 10px;
  }
  .weather-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
  }
  .weather-box .temp{
    font-size: 50px;
    margin: 30px;
  }
  .location-box .location {
    font-size: 20px;
  }
}
