.title {
  padding-top: 1px;
  margin-bottom: -50px;
  font-size: 2.3rem;
}
.App {
  text-align: center;
  transition-duration: 6s ease;
}

body {
  font-family: "Poppins", sans-serif;
}
.app.hot {
  background: linear-gradient(#fd4848, #46bcec, #46bcec);
  transition-duration: 6s ease;
}
.app.warm {
  background: linear-gradient(#fae56b, #46bcec, #46bcec);
  transition-duration: 6s ease;
}
.app.cold {
  background: linear-gradient(#abffdf, #46bcec, #46bcec);
  transition-duration: 6s ease;
}
.app.verycold {
  background: linear-gradient(#ffffff, #46bcec, #46bcec);
  transition-duration: 6s ease;
}
.search-box {
  width: 100%;
}
.search-box .search-bar {
  margin: 15px;
  width: 50%;
  padding: 10px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  margin-top: 25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: rgb(91, 221, 253);
  font-size: 20px;

  transition: 4s ease;
}

.search-box .search-bar:hover {
  background-color: rgba(233, 248, 253, 0.75);
}
.location-box .location {
  color: black;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.weather-box {
  text-align: center;
}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;

  padding: 15px 15px;

  color: black;
  font-size: 60px;

  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.weather-box .weather {
  color: black;
  font-size: 38px;
  font-weight: 500;
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .navBar {
    padding-top: 10px;
  }
  .weather-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
  }
  .weather-box .temp {
    font-size: 50px;
    margin: 30px;
  }
  .location-box .location {
    font-size: 20px;
  }
  .search-box .search-bar {
    margin: 15px;
    width: 50%;
    padding: 10px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    margin-top: 25px;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

    color: rgb(91, 221, 253);
    font-size: 15px;

    transition: 4s ease;
  }
}
