.search-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.weather-result {
  margin: 30px;
}
.map-result {
  margin: 30px;
}
.dynamicIcon {
  width: 160px;
}
.footer {
  color: rgb(129, 229, 253);
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(#46bcec, #0480b1);
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #23444d;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .weather-result {
    margin: 10px;
  }
  .map-result {
    margin: 10px;
    margin-left: 20px;
  }
  .dynamicIcon {
    padding-top: 30px;
    width: 140px;
  }
}
