.search-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.weather-result {
  margin: 30px;
}
.map-result {
  margin: 30px;
}
.dynamicIcon{
    width: 250px;
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .weather-result {
    margin: 10px;
  }
  .map-result {
    margin: 10px;
  }
  .dynamicIcon{
   width: 150px;
  }
  .maps{
  }
}
